.ipynb_checkpoints
.DS_Store
dataset
kaggle.json
Kaggle Dataset.ipynb
belajar
__pycache__
gambar_data
saved_dataset
saved_model
venv
ravdess_dataset
trash
logs2
checkpoints
SAVEEE
SaveeDataset
*.csv
*.pb
*.index
variables.*
*.npy
*.png
*.jpg
*.wav
src/timinglog
src/logs
src/timinglogaug
!DatasetExample/*.wav
!BuatInterface1/*.pb
!BuatInterface1/*.index
!BuatInterface1/variables.*

