.ipynb_checkpoints
.DS_Store
dataset
kaggle.json
Kaggle Dataset.ipynb
belajar
__pycache__
gambar_data
saved_dataset
saved_model
venv
ravdess_dataset
trash
logs2
checkpoints
SAVEEE
SaveeDataset
*.csv
*.pb
*.index
variables.*